{% extends 'layout.html' %}
{% load static %}

    {% block title %} Historial {% endblock%}    

    <!-- DataTables -->
    {% block links %}
        <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
    {% endblock %}

    {% block content %}
        <div class="container my-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table id="tableTransaccions" class="table">
                            <thead>
                                <tr>
                                    <th class="centered">#</th>
                                    <th class="centered">Numero de cuenta</th>
                                    <th class="centered">Numero de comprobante</th>
                                    <th class="centered">Tipo de comprobante</th>
                                    <th class="centered">Descripcion</th>
                                    <th class="centered">Debito</th>
                                    <th class="centered">Credito</th>
                                </tr>
                            </thead>
                            <tbody id="tableBodyTransaccions">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <!-- DataTables -->
        <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
         <!-- JavaScript -->
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}